@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "DynaPuff", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.3rem;
  padding-bottom: 0.9rem;
  padding-left: 5%;
  padding-right: 5%;
}
header .menu {
  width: 35px;
  height: 25px;
}
.img-wrapper {
  display: flex;
  align-items: center;
}
.running-icon {
  position: absolute;
  left: 50%;
  top: 2.5rem;
  transform: translate(-50%, -50%);
  width: 6rem;
}
.profile-pic {
  width: 60px;
}
.title {
  display: flex;
  justify-content: center;
  background-color: #e4e9ff;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
}
.title h1 {
  font-size: 25px;
  font-weight: bold;
}

main {
  margin-bottom: 3rem;
}

.goals-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin-left: 14%;
  margin-bottom: 1rem;
  padding-bottom: 40px;
  padding-top: 40px;
  gap: 30px;
  text-align: center;
}
.goals-grid .goals-item {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  position: relative;
  background-color: white;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.goals-grid .goals-item .active {
  position: absolute;
  right: 1rem;
  color: green;
  font-weight: bold;
}
.stats-wrapper {
  width: 100%;
  padding-left: 1rem;
  margin-top: 1rem;
}

.stats-wrapper p {
  color: rgb(44, 42, 42);
}

.stats-wrapper .count {
  margin-left: 0.5rem;
}

.stats-wrapper h2 {
  color: rgb(39, 37, 37);
}

.update-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2rem;
}
/* #water-modal,
#exercise-modal,
#read-modal,
#sleep-modal {
  display: none;
} */
.update-btn {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 0.4rem;
  border: none;
}

.completed {
  background-color: black;
}
.deleteBtn {
  background-color: black;
}
.cancel {
  background-color: black;
}

.goals-grid .goals-item .stats-wrapper p {
  line-height: 20px;
  font-size: 0.8rem;
}
.goals-grid .goals-item .stats-wrapper h2 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
.goals-grid .goals-item .stats-wrapper span {
  color: grey;
}
.goals-grid img {
  width: 70%;
  margin-left: -50px;
  margin-top: -15px;
  margin-bottom: -15px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 3rem;
  align-items: center;
  background-color: #d6deffa6;
  position: fixed;

  bottom: 0;
  right: 0;

  width: 100%;
}
footer div {
  background-color: #d6deffa6;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
footer img {
  width: 2rem;
}

@media only screen and (min-width: 580px) {
  .goals-grid {
    width: 60%;
    margin-left: 22%;
  }
}

@media only screen and (min-width: 800px) {
  .goals-grid {
    width: 60%;
    margin: auto;
  }

  .goals-grid img {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .goals-grid {
    width: 40%;
    margin: auto;
  }

  .goals-grid img {
    width: 50%;
  }
  .goals-grid {
    grid-template-columns: 1fr;
    width: 40%;
    margin: auto;
  }
}

@media only screen and (max-width: 375px) {
  footer div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .profile-pic {
    display: none;
  }

  .update-btn {
    margin: 0.3rem;
  }

  .goals-grid img {
    width: 100%;
  }

  .stats-wrapper {
    padding-left: 1rem;

    margin-bottom: 0.5rem;
  }
}
