body {
  /* display: grid;
  grid-template-rows: 1fr 2fr;
  background: hsl(200, 100%, 50%); */
}

header {
  display: grid;
  place-content: center;
  color: white;
  background-image: url("https://image.cnbcfm.com/api/v1/image/105999935-1562097549646sport-stretching-leisure-hobby-woman-strong-exercise-workout-gym-weightlifting_t20_v7r7a7.jpg?v=1594825333&w=740&h=416");
  position: relative;
  background-size: 150%;
  height: 200px;
}

@media (min-width: 1000px) {
    header {
        height: 400px;
    }
}

header .curve {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 2rem;
}

main {
  display: grid;
  place-content: center;
  background: white;
  gap: 1rem;
}

footer {
  display: grid;
  place-content: center;
  background: white;
  padding: 2rem;
  border-top: 0.1rem solid hsl(200, 100%, 0%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 40px;
  }
  
  .field {
    display: flex;
    position: relative;
    
  }

  .field input {
    font: inherit;
    outline: none;
    border-radius: 1rem;
    border: none;
    font-size: smaller;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background: hsl(200, 100%, 90%); 
    flex-grow: 1;
    padding-right: 50px;
  }

.field .icon {
   color: hsl(200, 100%, 30%);
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
}




h2 {
  text-align: center;
  color: black;
}



